
.orange-clr{
    color: orangered;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    height: 40px;
}

.sec-one{
    height: 450px;
    width: 100%;
    display: flex;
}

.half-width{
    width: 50%;
    margin-left: 100px;
    
}

p{
    text-align: justify;
    font-size: 20px;
    height: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button{
    text-decoration: none;
    height: 10px;
    font-family: none;
    background-color: rgb(226, 74, 74);
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.tomato-border{
    height: 140px;
    padding-left: 5px;
    border-left: 5px solid;
    border-image: linear-gradient(salmon ,tomato);
    border-image-slice: 1;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
}

.sec-two{
    height: 450px;
    width: 100%;
}

.illustrators{
    width: 85%;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
}

.ils-one{
    height: 350px;
    width: 34%; 
    background-image: linear-gradient(rgb(157, 192, 233),rgb(79, 166, 236));
    margin: 5px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.ils-two{
    height: 350px;
    width: 34%;
    background-image: linear-gradient(rgb(218, 150, 139),rgb(212, 107, 89));
    margin: 5px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.ils-three{
    height: 350px;
    width: 34%;
    background-image: linear-gradient(rgb(139, 218, 143),rgb(70, 187, 96));
    margin: 5px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    height: 10px;
}