
.orange-clr{
    color: orangered;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    height: 40px;
}

.sec-one{
    height: 450px;
    width: 100%;
    display: flex;
}

.half-width{
    width: 50%;
    margin-left: 100px;
    
}

p{
    text-align: justify;
    font-size: 20px;
    height: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.button{
    text-decoration: none;
    height: 10px;
    font-family: none;
    background-color: rgb(226, 74, 74);
    font-size: 20px;
    color: white;
    padding: 10px 30px;
    border-radius: 5px;
}

.tomato-border{
    height: 140px;
    padding-left: 5px;
    border-left: 5px solid;
    border-image: linear-gradient(salmon ,tomato);
    border-image-slice: 1;
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: xx-large;
    font-weight: 800;
}

.sec-two{
    height: 450px;
    width: 100%;
    
}

.illustrators{
    width: 85%;
    display: flex;
    padding-left: 80px;
    padding-right: 80px;
}

.ils-one{
    height: 350px;
    width: 34%; 
    background-image: linear-gradient(rgb(157, 192, 233),rgb(79, 166, 236));
    margin: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.ils-two{
    height: 350px;
    width: 34%;
    background-image: linear-gradient(rgb(218, 150, 139),rgb(212, 107, 89));
    margin: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.ils-three{
    height: 350px;
    width: 34%;
    background-image: linear-gradient(rgb(139, 218, 143),rgb(70, 187, 96));
    margin: 10px;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    height: 10px;
}

.sec-three{
    height: 450px;
    width: 80%;
    margin-top: 80px;
    padding-left: 90px;
    display: flex;
}


.two-third-width{
    padding-left: 60px;
}

h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: xx-large;
    height: 10px;
    font-weight: 800;
}

.sec-four{
    height: 350px;
    width: 80%;
    display: flex;
    padding-left: 90px;
}

.first-width{
    padding-right: 60px;
}

h5{
    text-align: center;
    color: white;
    font-size: 20px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h6{
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-style: italic;
}

.sec-five{
    margin-top: 10px;
    height: 450px;
    background-color: rgb(14, 13, 13);
}

.ils{
    height: 350px;
    width: 34%;
    background-image: linear-gradient(rgb(109, 103, 102),rgb(150, 128, 125));
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 5px solid;
    border-image: linear-gradient(rgb(85, 82, 81) ,rgb(95, 86, 84));
    border-image-slice: 1;
}

footer{
    height: 140px;
    background-color: rgb(8, 8, 8);
    
}

#skills{
    padding-top: 20px;   
    height: 20px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#web{
    padding-top: 20px;
    height: 2px;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.skills-image{
    display: flex;
    width: 80%;
    margin-left: 100px;
    margin-right: 100px;  

}

.skills-t{
    color: white;
    text-align: center;
    margin: 40PX;
}
